.btn {
  display: inline-block;
  font-weight: 500;
  border-radius: 200px;
}

.green,
.link {
  padding: 16px;
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--gray-green);
  &:hover {
    background-color: var(--green-hover);
  }
}

.link {
  width: 173px;
}

.transparent {
  padding: 16px 32px;
  min-width: 145px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  background-color: var(--white);
  border-color: var(--gray-light);
  &:hover {
    border-color: var(--green-hover);
  }
}
