.btn {
  display: inline-block;
  font-weight: 500;
  border-radius: 200px;
}

.green {
  padding: 16px 60px;
  color: var(--white);
  background-color: var(--gray-green);
  &:hover {
    background-color: var(--green-hover);
  }
}

.transparent {
  padding: 16px 32px;
  border: 1px solid;
  background-color: var(--white);
  border-color: var(--gray-light);
  &:hover {
    border-color: var(--green-hover);
  }
}
