.detailsLayout {
  padding: 120px 0 52px;
}

.topDiv {
  display: flex;
  gap: 24px;
  margin-bottom: 88px;
}

.gallery {
  width: 638px;
}

.swiper {
  margin-bottom: 4px;
  border-radius: 16px;
  & img {
    height: 569.45px;
  }
}

.swiperThumbs {
  & img {
    height: 135.5px;
  }
}

.hint {
  font-size: 14px;
  margin-bottom: 4px;
  padding-left: 16px;
  color: var(--text);
}

.descrBlock,
.detailsBlock {
  border-radius: 16px;
  background-color: var(--inputs);
  padding: 24px;
  max-width: 650px;
}

.descrBlock {
  margin-bottom: 16px;
}

.name {
  margin-bottom: 8px;
}

.stats {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
  & .stat {
    display: flex;
    gap: 4px;
    align-items: center;
    & .icon {
      width: 16px;
      height: 16px;
      height: 16px;
      &.star {
        color: var(--rating);
      }
    }
  }
}

.price {
  margin-bottom: 24px;
}

.descr {
  color: var(--text);
}

.detailsBlockTitle {
  margin-bottom: 16px;
}

.badges {
  overflow-x: auto;
  padding-bottom: 8px;
}

.divider {
  border: none;
  border-top: 1px solid var(--gray-light);
  margin: 16px 0;
}

.detailsListItem {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.reviewsTitle {
  margin-bottom: 24px;
}

.bottomDiv > div {
  display: flex;
  gap: 40px;
}

.reviewsList {
  overflow-y: auto;
  padding-right: 8px;
  max-height: 384px;
}

.reviewItem {
  border-radius: 16px;
  padding: 16px;
  background-color: var(--inputs);
  max-width: 623px;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.userDiv {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  line-height: 1.33;
  height: 60px;
  width: 60px;
  background-color: var(--white);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-green);
}

.nameDiv {
  margin: 8px 0;
}

.reviewerName {
  font-weight: 500;
}

.reviewComment {
  color: var(--text);
}

.form {
  display: flex;
  flex-direction: column;
  width: 641px;
  border: 1px solid var(--gray-light);
  border-radius: 16px;
  padding: 44px;
}

.formTitle {
  margin-bottom: 8px;
}

.formSubtitle {
  margin-bottom: 24px;
}

.inputsWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.input {
  padding: 18px;
  background-color: var(--inputs);
  border-radius: 12px;
  border: none;
  outline: none;
  &::placeholder {
    transition: inherit;
    color: var(--gray);
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}
